<html lang="en">
        <% include style/mainStyle %>  
        <% include style/importChunks %>
        <% include style/credits %>
        <% include style/table %>
        <head>
            <% include style/head %>
        </head>
    
        <body>
            <% include rootButton %>
            <div id="titleHead">This work wouldn't be possible without the work of the following people:</div>
            <div id="credits">
            <ol>
                <li><div id="names">Kacper Leszczyński</div>writing his own Sokoban solving algorithm, rewriting JSoko to work from command line,</li>
                <li><div id="names">Bartłomiej Szymański</div>programming this webapplication,</li>
                <li><div id="names">Matthias Meger</div>author of the JSoko algorithm,</li>
                <li><div id="names">David W Skinner</div>author of Microban sets used as pre-installed level sets within the application,</li>
                <li><div id="names">University of Alberta</div>Rolling Stone algorithm that was one of the inspirations for Kacper to code his own solver,</li>
                <li><div id="names">Jerzy Balicki</div>supervisor of this application's engineering thesis,</li>
                <li><div id="names">Zbigniew Homenda</div>showing interest in this application, helping us to move onwards with it,</li>
                <li><div id="names">You</div>for testing and playing Sokoban levels!</li>
            </ol>
            </div>
        </body>
    </html>