
<html lang="en">
        <% include style/mainStyle %>
        <% include style/table %>  
        <% include style/importChunks %>  
        <head>
            <% include style/head %>
        </head>
    
        <body>
            <div id="rangeInputContainer">
                    <div><span id="inb4info">Step: </span><span id="currentStepNumber">0</span></div><br />
                    <span id="rangeInputBar">0<input type="range" id="currentStep" name="rangeInput" value="0" min="0" max="<%- solution.solution.length %>" onchange="updateCurrentStep(this.value);"><%- solution.solution.length %></span>
                </div>
                
                <br />
                <canvas id="levelPreview" width="1280" height="720"></canvas>
                <br/>
            Details of the current solution:
            <br />
            <div id="details"></div>
            <script>
                let solution = <%- JSON.stringify(solution) %>;
                let solutionDetails = document.getElementById("details");
                <% include scripts/solutionDetails %>  
            </script>
        </body>
    </html>