<html lang="en">
        <% include style/mainStyle %>  
        <% include style/importChunks %>
        <% include style/index %>  
        <head>
            <% include style/head %>
        </head>
    
        <body>
            <div id="title">Sokoban Multisolver</div>
            <div id="titlesub">by Kacper Leszczyński and Bartłomiej Szymański</div>
            <form method="get" action="/importFile" enctype="multipart/form-data">
                <input class="option" type="submit" value="Import a file">
            </form>
            <form method="get" action="/viewSolutions" enctype="multipart/form-data">
                <input class="option" type="submit" value="View currently existing solutions">
            </form>
            <form method="get" action="/playSokoban" enctype="multipart/form-data">
                <input class="option" type="submit" value="Play Sokoban!">
            </form>
        </body>
    </html>