
<html lang="en">
    <% include style/mainStyle %>  
    <% include style/solve %>  
    <% include style/importChunks %>  
    <head>
        <% include style/head %>
    </head>

    <body>
        <% include rootButton %>
        <% include preinstalled %> 
    </body>
</html>